.container.user-account-container
  %figure.collection-video-wrap
    %iframe{ src: "https://www.youtube.com/embed/"+@collection.video_id+"?autoplay=1&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0", frameborder: "0" , allowfullscreen: "true"}

