.container-fluid
  .row.page-header
    .col-sm-6
      %h4.pull-left
        %span.glyphicon.glyphicon-folder-open
        #{@lookbook.name}
    .col-sm-6.text-right
      %a.btn.btn-default{href: "/skynet/lookbooks/"} Back To Lookbooks
      %a.btn.btn-default.btn-primary{href: ""} Save Lookbook

  .row
    .col-sm-9
      .panel.panel-default
        .panel-heading
          %h4.pull-left
            %span.glyphicon.glyphicon-picture
            Gallery Images
          %span.pull-right
            %a.btn.btn-default.btn-primary{href: ""} Upload Images
          .clear
        .panel-body.sortable#gallery-thumbs
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}  
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/003/large/LB-1.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/003/large/LB-2.jpg?1436287376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_images/000/000/006/large/LB-12.jpg?1436294376", width: "120"}
          %img.thumbnail.pull-left{src: "https://www.jeffreyrudes.com/system/lookbook_images/lookbook_image_1s/000/000/006/large/LB-4.jpg?1436287376", width: "120"}                 
    .col-sm-3
      .panel.panel-default
        .panel-heading
          Image
          %input.btn.btn-default.pull-right{:onclick => "return launchEditor('image1');", :type => "submit", :value => "Edit photo"}
          .clear
        .panel-body

          %img.thumbnail.img-responsive.featured-image#image1{src: "/assets/aviary.jpg"}

          .form-group
            %label Title
            %input.form-control{type: "text", value: "Image Title"}
          .form-group
            %label Description
            %input.form-control{type: "text", value: "Image Title"}

:javascript
  var featherEditor = new Aviary.Feather({
      apiKey: 'your-key-here',
      apiVersion: 3,
      theme: 'dark', // Check out our new 'light' and 'dark' themes!
      tools: 'all',
      appendTo: '',
      onSave: function(imageID, newURL) {
          var img = document.getElementById(imageID);
          img.src = newURL;
      },
      onError: function(errorObj) {
          alert(errorObj.message);
      }
  });

  function launchEditor(id, src) {
      featherEditor.launch({
          image: id,
          url: src
      });
      return false;
  }
