.container-fluid
  .row.page-header
    .col-sm-6
      %h4.pull-left
        %span.glyphicon.glyphicon-folder-open
        Settings
    .col-sm-6.text-right
      %a{class: "btn btn-primary btn-default", href: "#"}
        %span.glyphicon.glyphicon-pencil
        Save All Settings

  .row
    .col-sm-3
      %h4 Social
      %p Your social media URLS are saved here.
    .col-sm-9  
      .panel.panel-default
        .panel-body
          %table.table
            %thead
              %th
                Setting
              %th
                Value                
            %tbody  
              %tr
                %td
                  %label Facebook UrL
                %td
                  %input{type:"text", value: @setting.facebook_url, class: "form-control"}
              %tr
                %td
                  %label Twitter Url 
                %td
                  %input{type:"text", value: @setting.twitter_url, class: "form-control"}
              %tr
                %td
                  %label Instagram Url
                %td
                  %input{type:"text", value: @setting.instagram_url, class: "form-control"}
  .row
    .col-sm-3
      %h4 Analytics
      %p Your Analytics settings are saved here.
    .col-sm-9             
      .panel.panel-default
        .panel-body
          %table.table
            %thead
              %th
                Setting
              %th
                Value                
            %tbody   
              %tr
                %td
                  %h4 Google Analytics ID 
                %td
                  %input{type:"text", value: @setting.ga, class: "form-control"}
              %tr
                %td
                  %h4 Google Remarketing Tracking Pixel
                %td
                  %textarea{ value: @setting.ga, class: "form-control"}
                    = @setting.ga

          