.container-fluid
  .row.page-header
    .col-sm-6
      %h4.pull-left
        %span.glyphicon.glyphicon-folder-open
        Stores
    .col-sm-6.text-right
      %a{class: "btn btn-default", href: "#"}
        + Add New Store
      %a{class: "btn btn-primary btn-default", href: "#"}
        Save All

  .row
    .panel.panel-default
      .panel-heading
        %h4 Stores Locations
      .panel-body
        - @stores.each do |s|
          %tr
            %td
              %h3= s.title
            %td 
              = raw s.body


