%tr.shot.text-center
  %td{:valign => 'top'}
    = image_tag 'http://www.jeffreyrudes.com/email/splash-shot.jpg'

%tr
  %td
    .spacer 

%tr
  %td.text-center{:valign => 'top'}
    %p{style: 'text-decoration: none; margin: 0 5px; font-size: 16px'}You have successfully created your account at jeffreyrude.com

%tr
  %td
    .spacer 

%tr
  %td.text-center{:valign => 'top'}
    %p.text-center
      %a{href: "htpp://jeffreyrudes.com", class: "start-shopping-btn"}START SHOPPING

%tr
  %td.text-center{:valign => 'top'}
    %p.text-center{style: 'text-decoration: none; margin: 0 5px; font-size: 13px'} Sincerely,
    %p.text-center{style: 'text-decoration: none; margin: 0 5px; font-size: 13px'}Jeffrey Rudes 

%tr
  %td
    .spacer 

       

       