%tr.shot.text-center
  %td{:valign => 'top'}
    = image_tag 'http://www.jeffreyrudes.com/email/splash-shot.jpg'

%tr
  %td
    .spacer 

%tr
  %td.text-center{:valign => 'top'}
    %p Your have successfully created your account at jeffreyrüdes.com

%tr
  %td
    .spacer 

%tr
  %td.text-center{:valign => 'top'}
    %p.text-center{style: 'text-decoration: none; margin: 0 5px; font-size: 13px'}
      %a{href: "http://jeffreyrudes.com", target: "_blank", class:"start-shopping-btn"}START SHOPPING


%tr
  %td.text-center{:valign => 'top'}
    %p.text-center{style: 'text-decoration: none; margin: 0 auto; font-size: 13px'} Sincerely,
    %p.text-center{style: 'text-decoration: none; margin: 0 auto; font-size: 13px'}Jeffrey Rüdes 

%tr
  %td
    .spacer 


