#zoom-trigger.zoom-trigger
.product-thumbs
  - @product.assets.where(store: current_store).each_with_index do |asset, i|
    %a.rsImg{:href => "#image-#{i+1}"}
      = image_tag asset.image.url(:thumb, false), class: 'img-responsive rsTmb'
          
%section#product-image-gallery.royalSlider.rsDefault
  - @product.assets.where(store: current_store).each_with_index do |asset, i|
    .slide{:data => {:image_zoom => asset.image.url(:large, false)}}
      %a.rsImg{:href => asset.image.url(:medium, false)}
