%article.container.text-center.page.about
	%section.page-inner
		%h2.page-header About Jeffrey Rudes

		%p Gastropub small batch shabby chic pop-up, Blue Bottle chia biodiesel. Dreamcatcher organic pork belly YOLO chambray. Ugh squid art party narwhal lomo, vegan mustache Wes Anderson. Jean shorts readymade McSweeney's, Tumblr DIY cornhole fixie fanny pack migas sriracha ugh retro. Marfa readymade semiotics, artisan shabby chic wayfarers cray art party 3 wolf moon irony crucifix banh mi trust fund. Tofu distillery lo-fi, food truck forage Neutra mumblecore. Narwhal keytar polaroid twee plaid Kickstarter.

		%img.img-responsive{:src => "/assets/about-placeholder.jpg"}

		%p Gastropub small batch shabby chic pop-up, Blue Bottle chia biodiesel. Dreamcatcher organic pork belly YOLO chambray. Ugh squid art party narwhal lomo, vegan mustache Wes Anderson. Jean shorts readymade McSweeney's, Tumblr DIY cornhole fixie fanny pack migas sriracha ugh retro. Marfa readymade semiotics, artisan shabby chic wayfarers cray art party 3 wolf moon irony crucifix banh mi trust fund. Tofu distillery lo-fi, food truck forage Neutra mumblecore. Narwhal keytar polaroid twee plaid Kickstarter.


		%p Gastropub small batch shabby chic pop-up, Blue Bottle chia biodiesel. Dreamcatcher organic pork belly YOLO chambray. Ugh squid art party narwhal lomo, vegan mustache Wes Anderson. Jean shorts readymade McSweeney's, Tumblr DIY cornhole fixie fanny pack migas sriracha ugh retro. Marfa readymade semiotics, artisan shabby chic wayfarers cray art party 3 wolf moon irony crucifix banh mi trust fund. Tofu distillery lo-fi, food truck forage Neutra mumblecore. Narwhal keytar polaroid twee plaid Kickstarter.