%article.container.text-center.page.customer-service
	%section.page-inner
		%h2.page-header Customer Service
		%h3 Contact
		%address
			%p
				%a{:href=> 'mailto:customerservice@jeffreyrudes.com', } customerservice@jeffreyrudes.com
			%p
				%a{:href=> 'tel:1-415-399-9939', } +1 415-399-9939
			%p Monday - Friday: 9am till 5pm PST
			%p Sturday - Sunday: 10am till 4pm PST
		%h3 Headquarters
		%address
			%p 346 Sutter St <br>Penthouse <br>San Francisco, CA 94108
