.container.page-container.store-locations
  %article.text-center
    %figure.featured-image.text-center
      %img{ src: @flagship.featured_image.url, class: "img-responsive"}
    %h2=  @flagship.title
    %article= raw @flagship.body