!!!
%html{lang: 'en'}
  %head
    = stylesheet_link_tag 'mailer', media: 'all'

  %body#mailer
    %table#bodyTable
      %tr
        %td.spacer
      %tr.shot
        %td.logo{:align => 'center', :valign => 'top'}
          = link_to main_app.root_url do
            %img{src: main_app.root_url+'email/logo.jpg', width: "293"}
      %tr
        %td{:align => 'center', :valign => 'top'}
          %table#emailContainer{:border => '0', :cellpadding => '20', :cellspacing => '0', :width => '600'}

            = yield

      %tr.social-footer
        %td.text-center{style: "padding-bottom: 30px"}
          %a.twitter-link{href:"http://www.instagram.com/jeffreyrudes", class: "instagram-link"}Instagram
          %a{href:"http://www.instagram.com/jeffreyrudes"}Twitter
      %tr
        %td.email-footer{:align => 'center', :valign => 'top'}
          %a{href: main_app.root_url+'subscribe'}SUBSCRIBE
          %a{href: main_app.root_url+'about'}ABOUT
          %a{href: main_app.root_url+'customer-service' }CUSTOMER SERVICE
          %a{href: main_app.root_url+'terms-of-use'}TERMS OF USE
          %a{href: main_app.root_url+'gift-card'}GIFT CARD
      %tr
        %td{:align => 'center', :valign => 'top'}
          %span{style: 'text-decoration: none; margin: 0 5px; font-size: 10px;'}© copyright JEFFREY RÜDES #{Date.today.year}
          %a{href: 'http://mauinewyork.com', style: 'text-decoration: none; margin: 0 5px; font-size: 10px;'}SITE CREDIT
      %tr
        %td.spacer
